@CHARSET "UTF-8";
html * {
	font-size: 12px;
}

.hanaro-ui-toolbar{
	background: #f2f6f8; /* Old browsers */
	background: -moz-linear-gradient(top, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 100%, #e0eff9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(50%,#d8e1e7), color-stop(100%,#b5c6d0), color-stop(100%,#e0eff9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 100%,#e0eff9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 100%,#e0eff9 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 100%,#e0eff9 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 100%,#e0eff9 100%); /* W3C */
	overflow:hidden;
}

.hanaro-ui-header{
	border: 1px solid #D3D3D3;	 
	padding:4px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* W3C */
	white-space: nowrap;
}

.hanaro-ui-readonly{
	 background-color:#eeeeee;
}
.hanaro-ui-form-required{
	font-weight: bold;
}
.hanaro-ui-form-error{
	margin-left:.5em; color:red; font-style: italic;
}


.groupTable{
	background-color:'#F4F4F4';
}






/* Leader */
.label-Leader-black{background:url('../scripts/easyui/themes/icons/bullet_black.png') no-repeat;padding-left:1.5em;margin-right:0.5em;}
.label-Leader-blue{background:url('../scripts/easyui/themes/icons/bullet_blue.png') no-repeat;padding-left:1.5em;margin-right:0.5em;color:#0A0D92;}
.label-Leader-green{background:url('../scripts/easyui/themes/icons/bullet_green.png') no-repeat;padding-left:1.5em;margin-right:0.5em;color:#036D0A;}
.label-Leader-orange{background:url('../scripts/easyui/themes/icons/bullet_orange.png') no-repeat;padding-left:1.5em;margin-right:0.5em;color:#CB7702;}
.label-Leader-pink{background:url('../scripts/easyui/themes/icons/bullet_pink.png') no-repeat;padding-left:1.5em;margin-right:0.5em;color:#CB7702;}
.label-Leader-white{background:url('../scripts/easyui/themes/icons/bullet_white.png') no-repeat;padding-left:1.5em;margin-right:0.5em;color:#A2005E;}
.label-Leader-yellow{background:url('../scripts/easyui/themes/icons/bullet_yellow.png') no-repeat;padding-left:1.5em;margin-right:0.5em;color:#A28400;}
.label-Leader-purple{background:url('../scripts/easyui/themes/icons/bullet_purple.png') no-repeat;padding-left:1.5em;margin-right:0.5em;color:#4E0075;}
.label-Leader-red{background:url('../scripts/easyui/themes/icons/bullet_red.png') no-repeat;padding-left:1.5em;margin-right:0.5em;color:#D60205;}







